@import "tailwindcss";

@theme {
  --font-display: "Ubuntu", "sans-serif";
  --color-primary: "#1d5c63";
  --color-primary-rotate: "#407d7a";
}

body {
  @apply font-display;
}

a {
  @apply text-primary transition-colors;
}

a:hover, a:focus, a:active {
  @apply text-primary-rotate;
}

.btn-dark {
  @apply bg-stone-800 text-white rounded-md py-2 px-4 font-bold cursor-pointer
}

.btn-light {
  @apply bg-gray-300 text-stone-800 rounded-md py-2 px-4 font-bold cursor-pointer transition-colors hover:bg-gray-400/60 hover:text-stone-800
}