@import "tailwindcss";

@theme {
  --font-display: "Ubuntu", "sans-serif";
  --color-primary: #1d5c63;
  --color-primary-rotate: #407d7a;
  --color-body-bg: #fcfaf7;
  --color-body-text: #1A3C40;
}

body {
  @apply font-display text-body-text;
}

a {
  @apply text-primary transition-colors;
}

a:hover, a:focus, a:active {
  @apply text-primary-rotate;
}

.btn-primary {
  @apply rounded-md py-2 px-4 font-bold text-white bg-linear-to-r from-primary to-primary-rotate cursor-pointer transition-all hover:saturate-115 hover:brightness-115 hover:text-white
}

.btn-dark {
  @apply bg-stone-800 text-white rounded-md py-2 px-4 font-bold cursor-pointer
}

.btn-light {
  @apply bg-gray-300 text-stone-800 rounded-md py-2 px-4 font-bold cursor-pointer transition-colors hover:bg-gray-400/60 hover:text-stone-800
}

.form-input {
  @apply w-full rounded-md p-1 border-2 border-stone-200 bg-white
}