<%= turbo_frame_tag dom_id(quote, :client) do %>
  <div class="document-client">
    <p class="document__title"><%= quote.client_name %></p>
    <%= link_to '',
        [:edit_client, quote],
        class: "full-absolute #{hide_on_pdf}" %>
  </div>
<% end %>