<div class="document-card">
  <div class="document-card__left">
    <span><%= quote.client_name %></span>
  </div>
  <span class="document-card__title"><%= quote.title %></span>
  <span><%= quote.pretty_date %></span>
  <%= link_to '', quote_path(quote), class: 'full-absolute' %>
</div>