<div class="invoice__total">
  <% if invoice.with_tva? %>
    <div class="invoice__total__line">
      <span>Total HT</span> <span><%= number_to_currency(invoice.total_without_taxes) %></span>
    </div>
    <div class="invoice__total__line">
      <span>TVA</span> <span><%= number_to_currency(invoice.tva) %></span>
    </div>
  <% end %>
  <div class="invoice__total__line highlighted">
    <span><%= t('total') %></span> <span><%= number_to_currency(invoice.total) %></span>
  </div>
</div>