.pdf-layout {
  background-color: var(--color-white);
  .document, .calendar__body, .description-blocks {
    box-shadow: none;
  }

  @media print {
    .document, .calendar, .description-blocks {
      break-inside: avoid-page;
    }
  }
}