<div class="document__total">
  <% if document.flavor == 'with_tva' %>
    <div class="document__total__line">
      <span>Total HT</span> <span><%= number_to_currency(document.total_without_taxes) %></span>
    </div>
    <div class="document__total__line">
      <span>TVA</span> <span><%= number_to_currency(document.tva) %></span>
    </div>
  <% end %>
  <div class="document__total__line highlighted">
    <span><%= t('total') %></span> <span><%= number_to_currency(document.total) %></span>
  </div>
</div>