<%= turbo_frame_tag dom_id(document, :tva) do %>
  <% unless document.flavor == 'with_tva' %>
    <p class="mt-4 text-right text-sm text-gray-500 italic"><%= t('no_tva_explaination', tva_cgi_article: document.tva_cgi_article) %></p>
  <% end %>
<% end %>